<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="2.4.3" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="MonoAndroid50" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.1.1.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="MonoAndroid50" />
</packages>